.headerdark {
    background: #1e2030;
}
.headerdark__menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #828282;
}

.headerdark__link {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #F6F6F6;
}