.about {
    padding: 100px 0 100px;
    background: #F6F6F6;
}

.about__title {
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 70px;
}

.about__row {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 530px;
    margin: 0 auto;
}

.about__subtitle {
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.italic {
    font-style: italic;
}